@import "../ala";
@import "../../shared/project/banner/banner";
@import "../../shared/project/process/process";
@import "../../shared/project/sideNav/sideNav";
@import "../../shared/project/ending/ending";

.app {
  h5 {
    margin-top: 2rem;
  }

  h3:first-child {
    margin-top: 1rem;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--gray-100);
  opacity: 0.1;
  margin: 4rem 0;
}

h5 {
  font-weight: normal;
  font-size: 1rem;
  color: var(--gray-100);
}

.phone {
  margin-top: 4rem;

  img {
    max-width: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-top: 1rem;
  }

  margin-bottom: 3.5rem;
}

video {
  max-width: 100%;
  border-radius: 1em;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.style-guide {
  img {
    max-width: 100%;
  }
}

.figma iframe {
  max-width: 100%;
}

.noteboxes {
  margin-top: 2rem;
  padding: 1rem 2rem 2rem 2rem;
  background-color: #ffffff;
  max-width: 100%;
  border-radius: 1em;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: $screen-md) {
  .app,
  .video-final-design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    max-width: 1080px;
  }
  .phone {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    max-width: 800px;
  }

  .mobile-view {
    order: 0;
    justify-self: center;
  }
  .info-to-mobile {
    order: 1;
    align-self: auto;
  }
  .video-text {
    max-width: 500px;
    margin-right: 3rem;
  }
  .videoside {
    display: flex;
  }
}

@media screen and (min-width: $screen-lg) {
  .phone {
    margin: 6rem 3rem 6rem 3rem;
  }
}
