@import "../shared/header/header";
@import "../shared/footer/footer";
@import "../shared/vars";
@import "./headers";
@import "./content";

:root {
  --page-margin: 32px;
  --font-size: 16px;
}

body {
  margin: var(--page-margin);
  font-size: var(--font-size);
}

.project-section {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  justify-content: space-between;

  .project-card {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;

    img {
      width: 100%;
      border-radius: 1rem;
      cursor: pointer;
    }

    .project-title {
      margin-bottom: 1rem;
    }

    .project-tags {
      color: var(--gray-100);
      margin-right: 1em;
      display: inline-block;
    }
  }
}

//medium
@media screen and (min-width: $screen-md) {
  :root {
    --page-margin: 32px 96px 32px 96px;
    --font-size: 18px;
  }

  .project-section {
    grid-template-columns: 1fr 1fr;
  }
}

//large
@media screen and (min-width: $screen-lg) {
  :root {
    --page-margin: 64px 96px 64px 96px;
    --font-size: 18px;
  }
}

//extra large
@media screen and (min-width: $screen-xlg) {
  :root {
    --page-margin: 32px auto;
  }

  body {
    max-width: 1600px;
  }
}
