@import "../shared/header/header";
@import "../shared/footer/footer";
@import "../shared/vars";

:root {
  --page-margin: 32px;
  --font-size: 16px;
}

body {
  margin: var(--page-margin);
  font-size: var(--font-size);
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1.3rem;
}

h2 {
  font-weight: 600;
}

h2.title-info {
  font-weight: 500;
  line-height: 164%;
  max-width: 800px;
  margin-bottom: 132px;
}

h1 .highlight {
  color: var(--blue-200);
}

h2 .underline-green {
  border-bottom: 4px solid var(--green-100);
}

a {
  color: var(--blue-200);
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

body.dark-theme {
  h1 .highlight {
    color: var(--green-100);
  }

  h2 .underline-green {
    border-bottom: 4px solid var(--green-200);
  }

  a {
    color: var(--green-100);
  }
}

.project-section {
  margin-top: 4rem;

  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  justify-content: space-between;

  .project-card {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;

    img {
      width: 100%;
      border-radius: 1rem;
      cursor: pointer;
    }

    .project-title {
      margin-bottom: 1rem;
    }

    .project-tags {
      color: var(--gray-100);
      margin-right: 1em;
      display: inline-block;
    }
  }
}
p {
  line-height: 1.6rem;
}
//medium
@media screen and (min-width: $screen-md) {
  :root {
    --page-margin: 32px 96px 32px 96px;
    --font-size: 18px;
  }

  .project-section {
    grid-template-columns: 1fr 1fr;
  }
}

//large
@media screen and (min-width: $screen-lg) {
  :root {
    --page-margin: 64px 96px 64px 96px;
    --font-size: 18px;
  }
}

//extra large
@media screen and (min-width: $screen-xlg) {
  :root {
    --page-margin: 32px auto;
  }

  body {
    max-width: 1920px;
  }
}
