body {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
}

body img {
  max-width: 100%;
  width: 500px;
  height: auto;
  margin: auto;
  z-index: 2;
  animation: scale-img 2s linear 0s infinite;
}

@keyframes scale-img {
  20% {
    transform: scale(100%);
  }
  25% {
    transform: scale(110%);
  }
  30% {
    transform: scale(100%);
  }
  35% {
    transform: scale(110%);
  }
  40% {
    transform: scale(100%);
  }
  100% {
    transform: scale(100%);
  }
}

.circle-background {
  position: absolute;
  z-index: 0;

  background-color: #5364f7;
  width: 1498px;
  height: 1498px;
  top: -395px;
  left: -322px;
  animation-name: radius-rotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes radius-rotation {
  0% {
    background-color: #5364f7;
    transform: rotate(0deg);
    border-radius: 50%;
  }
  50% {
    background-color: darkgreen;
    transform: rotate(90deg);
    border-radius: 10%;
  }
  75%{
    transform: rotate(-90deg);
  }
  100% {
    background-color: #5364f7;
    transform: rotate(0deg);
    border-radius: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .circle-background {
    width: 827px;
    height: 827px;
    top: -272px;
    left: -226px;
  }
}
