.desktop {
  margin-top: 4rem;

  img {
    max-width: 100%;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-top: 1rem;
  }

  margin-bottom: 3.5rem;
}

@media screen and (min-width: $screen-md) {
  .desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    .info {
      order: 1;
    }

    .view {
      order: 1;

      &.left {
        order: 0;
      }
    }
  }
}
