:root {
  --page-margin: 48px;
  --grid-gap: 32px;
}

body {
  font-family:
    DM Sans,
    sans-serif;
  font-style: normal;
  display: block;
  max-width: 1920px;

  margin: auto;
}

@media screen and (max-width: 1980px) {
  body {
    margin: 0 var(--page-margin);
  }
}

h1 {
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 44px 0;
}

h5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 10px 0;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 48px;
  }
  h5 {
    font-size: 24px;
  }
}
